.main-container {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    row-gap: 20px;
}

.bg-silver {
    display: flex;
    background: silver;
    opacity: 0.5;
}

.centred-content {
    justify-content: center;
    align-items: center;
}

.full-width {
    width: 100%;
    height: 30vh;
    border-radius: 10px;
}

.double-height {
    height: 60vh;
    display: flex;
    justify-content: space-between;
}

.boxes {

    margin-right: 10px;
    width: 72%;
    display: flex;
    flex-wrap: wrap;
    height: 60vh;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: space-between;
    align-content: space-between;
}

.box {
    width: 30%;
    height: 45%;
    border-radius: 10px;

}

.bigger-box {
    width: 25%;
    height: 100%;
    border-radius: 10px;
}
